/************** SMARTPHONES ****************/

@media only screen and (max-width: 767px){

	.hide-for-small{ display: none; }
	.mobile-nav{ display: block; }
	.navigation{ padding-bottom: 22px; }
	.navigation li{ float: none; margin-bottom: 11px; overflow: hidden; }
	.open-menu{ display: block !important;
	position: absolute;
	right: 22px;
	top: 31px;
	cursor: pointer;
	}



	.navigation li a{ float: left; }

	.tile-wrapper{ width: 100%;
	}
	#home-slider {
    background: url(../img/photo_01_mobile.jpg) ;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 568px;
    max-width: 100%;
  }
#quote-divider-1 {
    background: url(../img/photo_02_mobile.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;

}

#quote-divider-2 {
    background: url(../img/photo_03_mobile.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;

}

#quote-divider-3 {
    background: url(../img/photo_04_mobile.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;

}

#registry {
    background: url(../img/photo_05_mobile.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    max-width: 100%;
}
	.slider-bg{ max-width: 80%; }

	#about-text{
		line-height: 30px;
		columns: 100px 1;
		-webkit-columns: 100px 1;
		-moz-columns: 100px 1;
	}

	.team-img-holder img{ width: 100% }
	.service{ margin-bottom: 11px; }
	.services-row{ margin-bottom: 0px; }
	.store{ margin-bottom: 0px; }
	.store img{ width: 80%; }
	.work-item{ margin-bottom: 22px; }
	.work-row{ margin-bottom: 0px; }
	.project-details p{ width: 100%; }
	.project-img-holder{ width: 100%; height: 350px; }
	#map-toggle{ right: auto; left: 30%; }
	#contact-holder{ padding-top: 110px; }
	#contact-form #name{ width: 100%; margin-right: 0px; }
	#contact-form #email{ width: 100%; margin-right: 0px; }
	.flex-direction-nav a{ display: none; }

	h1,h2, h3 {
    font-size: 24px;
    letter-spacing: 3px;
    line-height: 45px;

}

.logo{
	padding-top: 10px;
	width: 80%;

}

.pad-bottom{
  margin-bottom: 40px;
}


/****************** TABLETS (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {




	#clients{  background-attachment: scroll; }
	#quote-divider{ background-attachment: scroll; }

	#about-text{
  font-weight: 300;
  margin-bottom: 66px;
  color: #ca727a;
  font-size: 18px;
  line-height: 36px;
  padding: 85px;
}

  #home-slider {
    background: url(../img/photo_12_tablet.jpg) ;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 844px;
    max-width: 100%;


}

}

/***************** TABLETS (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

	.navigation li{ margin-right: 32px; }
	.service h5{ 1em }
	.service{ max-height: 154px; }
	.work-overlay{ padding: 100px 15px 15px 15px; }
	.work-img-holder{ height: 220px; }
	#form-name{ width: 70%; }
	#form-email{ width: 70%; }

	#about-text{
  font-weight: 300;
  margin-bottom: 66px;
  color: #ca727a;
  font-size: 18px;
  line-height: 36px;
  padding: 85px;
}

  #home-slider {
    background: url(../img/photo_12_tablet.jpg) ;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 844px;
    max-width: 100%;


}

}

/***************** TABLETS (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {

	#home-slider .slides li{
		padding-top: 117px;
		padding-bottom: 117px;
	}

}

/**************** SMALL SCREENS *****************/

@media only screen and (max-width: 960px){
	.slider-bg{ max-width: 200%; }
}
