/***************** PSEUDO & GENERAl CLASSES ***************/

body{  -webkit-font-smoothing: antialiased; }
input{ -webkit-appearance: none; }


#loader{
	opacity: 1;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 2000;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	transition: all .5s ease;
}
#progress-bar{
	height: 10px;
	background-color: #222;
	-webkit-transition: width .5s ease;
	-moz-transition: width .5s ease;
	transition: width .5s ease;
	position: relative;
	top: 400px;
	width: 0px;
}
.hide-loader{ opacity: 0 !important; z-index: -1 !important; }

/** SPACING **/

.pad-large{
	padding-top: 88px;
	padding-bottom: 88px;
	background-color: #f7f1e1;
}

.pad-small{
	padding-top: 44px;
	padding-bottom: 44px;
}

.pad-bottom{
	margin-bottom: 88px;
}

/** TYPO **/

.text-white{
	color: #fff;
	font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

h1, h2, h3, h4, h6{
	letter-spacing: 10px;
	text-transform: uppercase;
	margin-right: -10px;
	color: #544a43;
}

/** ELEMENTS **/

.hr{
	background-color: #544a43;
	height: 1px;
	margin: 0px auto;
}

.thick-hr{
	background-color: #222;
	height: 6px;
	margin: 0px auto;
}

.btn{
	border: 2px solid #fff;
	padding: 15px;
	display: inline-block;
	cursor: pointer;
	position: relative;
	color: #fff;
}

.box{
	font-family: 'Montserrat', sans-serif;
	border: 2px solid #fff;
	padding: 15px;
	display: inline-block;
	position: relative;
	color: #fff;
	font-weight: 700;
}


.btn-wrapper{
	display: inline-block;
}

.page-header .box-heading{
	font-family: 'Petrona';
	font-size: 14px;
	padding: 10px;
	border: 1px solid #222;
	margin-bottom: 22px;
	display: inline-block;
}

.page-header .hr{
	margin-top: 22px;
}

#quote-divider-1{
	background: url(../img/photo_02.jpg);
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}


#quote-divider-2{
	background: url(../img/photo_03.jpg);
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}

#quote-divider-3{
	background: url(../img/photo_06.jpg);
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}

#quote-divider-3:before{
	content:'';
	width: 100%;
	height: 100%;
	position: absolute;
}

#quote-divider-1:before{
	content:'';
	width: 100%;
	height: 100%;
	position: absolute;
}

#quote-divider-2:before{
	content:'';
	width: 100%;
	height: 100%;
	position: absolute;
}

#quote-divider-1 .large-8{
	padding-top: 280px;
	padding-bottom: 280px;
}

#quote-divider-1 .thick-hr{
	margin: 0px;
	margin-top: 22px;
	margin-bottom: 32px;
	background-color: #fff;
}

#quote-divider-1 .btn-wrapper{
	margin-right: 11px;
}

#quote-divider-1 .btn{
	border-color: #fff;
	color: #fff;
	letter-spacing: 3px;
	font-size: 12px;
}

#quote-divider-1 .btn i{
	margin-right: 5px;
}

#quote-divider-2 .large-8{
	padding-top: 280px;
	padding-bottom: 280px;
}

#quote-divider-2 .thick-hr{
	margin: 0px;
	margin-top: 22px;
	margin-bottom: 32px;
	background-color: #fff;
}

#quote-divider-2 .btn-wrapper{
	margin-right: 11px;
}

#quote-divider-2 .btn{
	border-color: #fff;
	color: #fff;
	letter-spacing: 3px;
	font-size: 12px;
}

#quote-divider-2 .btn i{
	margin-right: 5px;
}


#quote-divider-3 .large-8{
	padding-top: 280px;
	padding-bottom: 280px;
}

#quote-divider-3 .thick-hr{
	margin: 0px;
	margin-top: 22px;
	margin-bottom: 32px;
	background-color: #fff;
}

#quote-divider-3 .btn-wrapper{
	margin-right: 11px;
}

#quote-divider-3 .btn{
	border-color: #fff;
	color: #fff;
	letter-spacing: 3px;
	font-size: 12px;
}

#quote-divider-3 .btn i{
	margin-right: 5px;
}


#registry{
	background:url(../img/photo_04.jpg);
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}

#registry:before{
	content:'';
	width: 100%;
	height: 100%;
	background-color:rgba(0,0,0,0.3);
	position: absolute;
}

#registry .large-12{
	margin-top: 88px;
	margin-bottom: 44px;
}

#registry .large-12 .hr{
	background-color: #fff;
	margin-top: 22px;
}

.store{
	margin-bottom: 60px;
}

.store img{
	width: 100%;
}

.store .pad{
	position: relative;
	bottom: 20px;
}

.fade {
   opacity: 0.8;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

   .fade:hover {
      opacity: 1;
      }



/***************** NAVIGATION ***************/

.mobile-nav{
	display: none;
}

#nav{
	max-height: 90px;
	min-height: 90px;
	overflow: hidden;
	background-color: rgba(255,255,255,0.9);
	position: fixed;
	top: 0px;
	z-index: 200;
	width: 100%;
	text-align: center;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	transition: all .5s ease;
}

.open-nav{
	max-height: 300px !important;
}

.open-menu{
	display: none !important;
}

.navigation{
	overflow: hidden;
	list-style: none;
	padding-top: 37px;
	display: inline-block;
	margin-bottom: 0px;
}

.navigation li{
	float: left;
	margin-right: 44px;
	font-size: 0.7em;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-family: 'Montserrat', sans-serif;
}

.navigation li:last-child{
	margin-right: 0px;
}

.navigation li a{
	color: #222;
	font-family: 'Montserrat', sans-serif;
	text-decoration:	none;
}

.logo{
	padding-top: 15px;
	padding-left: 20px;
}

/***************** HOME ***************/

#home{
	overflow: hidden;
}





#home-slider {
	background: url(../img/photo_01.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 850px;
  min-width: 100%;
  height:100%;
}


/*
#home-slider {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 (ADD CLOSE TAG HERE)
	height: 0;
}

#home-slider .video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
*/

#home-slider .flex-direction-nav .flex-prev {
	left: -44px;
	opacity: 0.7;
	top: 48%;
}

#home-slider .flex-direction-nav .flex-next {
	right: -44px;
	opacity: 0.7;
	top: 48%;
}

#home-slider:hover .flex-direction-nav .flex-prev {
	left: 44px;
}

#home-slider:hover .flex-direction-nav .flex-next {
	right: 44px;
}

.slider-bg{
	position: absolute;
	top: 0px;
	left: 0px;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
}

.tile-wrapper{
	border: 1px solid rgba(255,255,255,0.8);
	padding: 10px;
	width: 350px;
	height: 350px;
	margin: 0px auto;
}

.slider-tile{
	width: 100%;
	background-color: rgba(255,255,255,0.8);
	margin: 0px auto;
	text-align: center;
	padding-top: 60px;
	height: 330px;
}

.slider-tile i{
	font-size: 2.5em;
}

.slider-tile h5{
	margin-top: 11px;
	margin-bottom: 22px;
}

.slider-tile .hr{
	margin-bottom: 44px;
}

.slider-tile .biline{
	width: 60%;
	font-weight: 300;
	margin: 0px auto;
	font-family: 'Petrona';
}

/***************** ABOUT ***************/

#flight-text{
	columns:200px 1;
	-webkit-columns:200px 1; /* Safari and Chrome */
	-moz-columns:200px 1; /* Firefox */
	font-weight: 400;
	margin-bottom: 66px;
	color: #544a43;
	font-size: 14px;
	line-height: 25px;
}

#accom-text{
	columns:300px 1;
	-webkit-columns:300px 1; /* Safari and Chrome */
	-moz-columns:300px 1; /* Firefox */
	font-weight: 400;
	text-align: center;
	margin-bottom: 66px;
	color: #544a43;
	font-size: 14px;
	line-height: 25px;
}

#flight-text-2{
	columns:200px 1;
	-webkit-columns:200px 1; /* Safari and Chrome */
	-moz-columns:200px 1; /* Firefox */
	font-weight: 400;
	margin-bottom: 66px;
	color: #544a43;
	font-size: 14px;
	line-height: 25px;
}


#welcome-text{
	text-align: center;
	columns:800px 1;
	-webkit-columns:800px 1; /* Safari and Chrome */
	-moz-columns:800px 1; /* Firefox */
	font-weight: 400;
	margin-bottom: 66px;
	color: #544a43;
	font-size: 16px;
	line-height: 30px;
}


#about-text{
	columns:400px 3;
	-webkit-columns:400px 3; /* Safari and Chrome */
	-moz-columns:400px 3; /* Firefox */
	font-weight: 400;
	margin-bottom: 66px;
	color: #544a43;
	font-size: 14px;
	line-height: 25px;
}

#info-text{
	columns:100px 2;
	-webkit-columns:100px 2; /* Safari and Chrome */
	-moz-columns:100px 2; /* Firefox */
	font-weight: 300;
	margin-bottom: 66px;
	color: #d29679;
}

/*
.team-member{
	opacity: 0.7;
	text-align: center;
	padding: 10px;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	transition: all .2s ease;
	cursor: pointer;
}

.team-member:hover{
	opacity: 1;

}
*/
.team-member span{
	font-size: 14px;
}

.team-member .hr{
	margin-top: 11px;
	margin-bottom: 11px;
}

.team-social{
	list-style: none;
	overflow: hidden;
	margin: 0px auto;
	margin-bottom: 0px;
	display: inline-block;
}

.team-social li{
	float: left;
	margin-right: 5px;
}

.team-social a{
	color: #222;
}

.team-social i{
	font-size: 36px;
}

.team-social li:last-child{
	margin-right: 0px;
}

.team-img-wrapper{
	margin: 0px auto;
	margin-bottom: 11px;
}

.team-img-holder img{
	width: 100%;
}

.team-member h6{
	letter-spacing: 7px;
	margin-right: -7px;
	margin-bottom: 5px;
}

/***************** SERVICES ***************/

.services-row{
	margin-bottom: 22px;
}

.services-row:last-child{
	margin-bottom: 0px;
}

.service{
	padding: 15px;
	border: 2px solid #544a43;
	max-height: 132px;
	overflow: hidden;
	cursor: pointer;
	position: relative;
}

.service:hover{

}

.open-service{
	max-height: 2080px !important;
border: 2px solid #544a43;
}

.open-service .hr{
	opacity: 1 !important;
}

.open-service p{
	opacity: 1 !important;
}

.service i{
	font-size: 42px;
}

.service h5{
	margin-top: 22px;
	letter-spacing: 3px;
	margin-right: -7px;
	font-size: 15px;
}

.service .hr{
	margin-top: 22px;
	margin-bottom: 22px;
	opacity: 0;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

.service p{
	font-weight: 400;
	opacity: 0;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
	margin-bottom: 7px;

}

/***************** WORK ***************/
.work-row{
	margin-bottom: 30px;
}

.work-img-holder{
	width: 100%;
	height: 300px;
	overflow: hidden;
	position: relative;
}

.work-img-holder img{
	width: 100%;
}

.work-overlay{
	width: 100%;
	height: 100%;
	left: 0%;
	top: 0%;
	background-color: rgba(255,255,255,0.8);
	padding: 180px 15px 15px 15px;
	position: absolute;
	font-weight: 300;
	opacity: 0;
	cursor: pointer;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	transition: all .2s;
}

.work-overlay h6{
	letter-spacing: 7px;
	margin-right: -7px;
}

.work-overlay .hr{
	margin: 0px;
	margin-top: 11px;
	margin-bottom: 11px;
}

.work-img-holder:hover .work-overlay{
	opacity: 1;
	width: 94%;
	height: 94%;
	top: 3%;
	left: 3%;
}

.project{
	max-height: 0px;
	overflow: hidden;
	-webkit-transition: all .8s;
	-moz-transition: all .8s;
	transition: all .8s;
}

.open-project{
	max-height: 1000px !important;
}

.close-project{
	margin-top: 88px;
	margin-bottom: 44px;
	cursor: pointer;
}

.close-project i{
	font-size: 62px;
}

.work-slider{
	position: relative;
}

.project-img-holder{
	width: 630px;
	height: 630px;
	overflow: hidden;
	margin: 0px auto;
}

.work-slider .flex-direction-nav a{
	top: 46%;
}

.work-slider .flex-direction-nav a:before {
	color: #222;
}

.project-details{
	margin-bottom: 44px;
}

.project-details .hr{
	margin-top: 22px;
	margin-bottom: 22px;
}

.project-details p{
	width: 50%;
	display:block;
	margin: 0px auto;
}

/***************** CONTACT ***************/

#contact{
	position: relative;
	z-index: 1;
}

#contact-holder{
	padding-top: 200px;
	padding-bottom: 200px;
	overflow: hidden;
	background: url(../img/photo_07.JPG) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#contact-holder:before{
	width: 100%;
	height: 100%;
	background-color:rgba(0,0,0,0.5);
	position: absolute;
}

.contact-fade{
	opacity: 0 !important;
	z-index: -1 !important;
}



#map-toggle{
	position: absolute;
	z-index: 3;
	top: 44px;
	right: 44px;
	letter-spacing: 3px;
	font-size: 12px;
}

#contact iframe{
	border: none;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
	top: 0px;
}

#contact-details{
	overflow: hidden;
	list-style: none;
}

#contact-details li{
	float: left;
	margin-right: 11px;
	padding: 10px 10px 13px 10px;
	background-color: #fff;
	color: #000;
	margin-bottom: 11px;
}

#contact-details li a{
	color: #fff;
}

#contact-form #name{
	overflow: hidden;
	width: 48%;
	margin-right: 2%;
	float: left;
	border: 2px solid #fff;
	padding: 5px;
	margin-bottom: 11px;
	background-color: rgba(255,255,255,0);
}

#form-name{
	color: #fff;
	width: 80%;
	float: left;
	margin-bottom: 0px;
	border: none;
	background-color: rgba(0,0,0,0);
}

#contact-form #email{
	overflow: hidden;
	width: 48%;
	float: right;
	border: 2px solid #fff;
	padding: 5px;
	margin-bottom: 11px;
	background-color: rgba(255,255,255,0);
}

#form-email{
	color: #fff;
	width: 80%;
	float: left;
	margin-bottom: 0px;
	border: none;
	background-color: rgba(0,0,0,0);
}

.form-icon{
	border-right: 2px solid #fff;
	float: left;
	margin-right: 11px;
	padding-right: 3px;
}

.form-icon i{
	font-size: 29px;
}

#email .form-icon i{
	position: relative;
	bottom: 2px;
}

#message{
	border: 2px solid #fff;
	padding: 5px;
	margin-bottom: 11px;
	overflow: hidden;
	background-color: rgba(255,255,255,0);
	width: 100%;
	float: none;
	clear: both;
}

#form-message{
	color: #fff;
	float: left;
	width: 88%;
	height: 100px;
	border: none;
	background-color: rgba(0,0,0,0);
}

#contact-form .btn-wrapper{
	font-size: 12px;
	letter-spacing: 3px;
	float: right;
}

#details-error{
	padding: 10px;
	background-color: #ba2f2f;
	display: inline-block;
	float: left;
	display: none;
}

#form-sent{
	padding: 10px;
	background-color: #2fba53;
	display: inline-block;
	float: left;
	display: none;
}

#footer{
	margin-top: 44px;
}

#footer .hr{
	margin-bottom: 22px;
}

#footer-social{
	overflow: hidden;
	list-style: none;
	margin-bottom: 22px;
	display: inline-block;
}

a.email {
	color:#ffffff;
}

#footer-social li a{
	color: #222;
}

#footer-social li{
	float: left;
	margin-right: 11px;
}

#footer-social li:last-child{
	margin-right: 0px;
}

#footer-social li i{
	font-size: 40px;
}

#footer span{
	float: none;
	clear: both;
}

.logo-text{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	letter-spacing: 3px;
	margin-right: -3px;
	color: #fff;
}

#copy-text{
	font-size: 15px;
}
